.number-button-style {
    width: 100%;
font-size: 3rem;
border: 1px solid grey;
}

.symbol-button-style {
    width: 100%;
    font-size: 3rem;
    background-color: red;
    border: 1px solid grey;
    color: white;
}

.action-button-style {
    width: 100%;
    font-size: 3rem;
    border: 1px solid grey;
}

/* class of container div of action button style
*/
.action-button {
width: 75%;
text-align: center;
}

.number-button {
    width: 25%;
    text-align: center;
}


/* .action-button {
    height: 20%;
}

.action-button-style {
    background-color: white;
    color: black;
    font-size: 4rem;
}

.left {
    width: 80%;
    text-align: center;
}

.numbers-row {
    display: flex;
}

.numbers {
    font-size: 3rem;
}

.symbol-buttons {
    width: 20%;
}

.symbols {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 4rem;
}

.bottom {
        display: flex;
        width: 100%;
} */